---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Layout from '~/layouts/PageLayout.astro';
import Carousel from '~/components/widgets/Carousel.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Content from '~/components/widgets/Content.astro'

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <Hero
    tagline=""
    image={{
      src: 'https://res.cloudinary.com/dpofrsdix/image/upload/v1760769174/Landing-Carousel-13_tskml5.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&  q=100',
      style: "transform: scale(0.9); display: block;",
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title"> Everything starts with an idea. </Fragment>
    <Fragment slot="subtitle">
      At <strong><em>CRIS Construction Services</em></strong>, we understand how important your home is. That’s why we have a <b>professional team that pays close attention to every detail</b>, taking care of everything from <b>bathroom, kitchen, and drainpipe repairs to painting, flooring, patios, and more.</b> No matter the size of the project, if you need it, <b>we’ll do it — and we’ll do it right</b>, ensuring every job turns out exactly as you imagined.
    </Fragment>
  </Hero>

    <Stats
    title=""
    stats={[
      { amount: '4+', title:'años de experiencia', icon: 'tabler:calendar-plus' },
      { amount: '120+', title:'completed projects', icon: 'tabler:checkup-list' },
      { amount: '98%', title:'customer satisfaction rate  ', icon: 'tabler:percentage-90' },
      { amount: '30+', title:'skilled workers', icon: 'tabler:award' },
    ]}
  />

  <Features2
    title="What services do we provide?"
    subtitle="We provide complete remodeling and maintenance solutions for homes and businesses. Our team ensures professional results every time — all tailored to bring comfort, style, and durability to your spaces."
    items={[
      {
        title: 'Bathroom Renovations',
        description:
          'We modernize and repair bathrooms with durable materials, elegant finishes, and efficient plumbing solutions that stand the test of time.',
        icon: 'tabler:bath',
      },
      {
        title: 'Kitchen Remodeling',
        description:
          'From custom cabinets to new countertops and lighting, we create functional, stylish kitchens designed for everyday comfort and performance.',
        icon: 'tabler:home',
      },
      {
        title: 'Plumbing & Piping',
        description:
          'Our certified plumbers handle repairs, installations, and leak prevention for homes and businesses — fast, clean, and reliable.',
        icon: 'tabler:tool',
      },
      {
        title: 'Painting & Finishing',
        description:
          'Interior and exterior painting with professional results. We use premium materials to ensure long-lasting color and a flawless finish.',
        icon: 'tabler:paint',
      },
      {
        title: 'Flooring & Surface Installation',
        description:
          'Ceramic, vinyl, wood, or concrete — we install and maintain high-quality flooring for any space, ensuring durability and beauty.',
        icon: 'tabler:hammer',
      },
      {
        title: 'Patios & Outdoor Spaces',
        description:
          'We design and restore patios, facades, and garden areas that bring life and value to your property, combining aesthetics with functionality.',
        icon: 'tabler:garden-cart',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Content
    isAfterContent
    items={[
      {
        title: 'Quality',
        description:
          'Whether it’s a small repair or a full renovation, we treat every job with the same level of excellence.',
        icon: 'tabler:rosette-discount-check',
      },
      {
        title: 'Efficiency',
        description:
          'Time matters — both yours and ours. Our teams are organized, punctual, and efficient, ensuring that every project stays on schedule without cutting corners.',
        icon: 'tabler:clock-star',
      },
      {
        title: 'Transparency',
        description:
          'We believe in honesty from start to finish. Our quotes are detailed, our timelines are realistic, and our communication is open throughout the entire process.',
        icon: 'tabler:book',
      },
      {
        title: 'Trust & Professionalism',
        description:
          'Your home or business is important, and we respect that. All our technicians and builders are certified, insured, and trained to maintain the highest professional standards.',
        icon: 'tabler:heart-handshake',
      },
    ]}
    image={{
      src: 'https://res.cloudinary.com/dpofrsdix/image/upload/v1760769173/Landing-Carousel-5_vffqzm.jpg',
      alt: 'Worker Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Benefits</h3>
    </Fragment>
  </Content>

  <section class="text-center my-10 w-full items-center">
    <Carousel 
      title="Our Projects"
      images={[
        'https://res.cloudinary.com/dpofrsdix/image/upload/v1760769173/Landing-Carousel-1_ip7eyk.jpg',
        'https://res.cloudinary.com/dpofrsdix/image/upload/v1760769172/Landing-Carousel-2_keuciz.jpg',
        'https://res.cloudinary.com/dpofrsdix/image/upload/v1760769172/Landing-Carousel-3_iurcmv.jpg',
        'https://res.cloudinary.com/dpofrsdix/image/upload/v1760769172/Landing-Carousel-4_cihw9n.jpg',
        'https://res.cloudinary.com/dpofrsdix/image/upload/v1760769173/Landing-Carousel-5_vffqzm.jpg',
        'https://res.cloudinary.com/dpofrsdix/image/upload/v1760769172/Landing-Carousel-6_reqcru.jpg',
        'https://res.cloudinary.com/dpofrsdix/image/upload/v1760769172/Landing-Carousel-7_gok9kv.jpg',
        'https://res.cloudinary.com/dpofrsdix/image/upload/v1760769173/Landing-Carousel-8_z64jxl.jpg',
        'https://res.cloudinary.com/dpofrsdix/image/upload/v1760769173/Landing-Carousel-9_vr6qda.jpg',
        'https://res.cloudinary.com/dpofrsdix/image/upload/v1760769173/Landing-Carousel-10_yc62hx.jpg',
        'https://res.cloudinary.com/dpofrsdix/image/upload/v1760769173/Landing-Carousel-11_tg76nx.jpg',
        'https://res.cloudinary.com/dpofrsdix/image/upload/v1760769174/Landing-Carousel-12_enwtzh.jpg',
        'https://res.cloudinary.com/dpofrsdix/image/upload/v1760769174/Landing-Carousel-13_tskml5.jpg',
        'https://res.cloudinary.com/dpofrsdix/image/upload/v1760769172/Landing-Carousel-14_cakqf1.jpg'
      ]}
    />
  </section>

  <Testimonials
    title="Words from our customers"
    testimonials={[
      {
        title:`“Outstanding craftsmanship and attention to detail.”`,
        testimonial:`CRIS Construction Services remodeled our entire kitchen and bathroom last summer, and the results were beyond our expectations. The team was punctual, respectful of our home, and constantly updated us throughout the process. Everything—from plumbing to finishing—was done with precision. I’ll definitely hire them again for future projects.`,
        name: 'Maria L.',
        job: 'Homeowner',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Maria L. Image',
        },
      },
      {
        title:`“Reliable, fast, and transparent service.”`,
        testimonial: `We had an emergency pipe issue that flooded part of our store. CRIS Construction Services responded within 24 hours and handled everything efficiently. What I appreciated most was their transparency: they gave us a clear quote upfront and stuck to it. Thanks to them, our business was back up and running in no time.`,
        name: 'Daniel R.',
        job: 'Local Business Owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Daniel R. Image',
        },
      },
      {
        title:`“They turned our old patio into a beautiful family space.”`,
        testimonial: `CRIS Construction Services’ team redesigned our outdoor area, added new flooring, and repainted our walls. The result completely changed the look of our home. Their staff was polite, skilled, and genuinely cared about our satisfaction. Friends and family can’t stop complimenting the transformation!`,
        name: 'Sophia M.',
        job: 'Residential Client',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sophia M. Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: '#',
      icon: 'tabler:chevron-right',
    }}
  />

</Layout>
